@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&family=Open+Sans&display=swap');
$primary-font: "Amatic SC", sans-serif;
$body-font: "Open Sans", sans-serif;
$heading-font: "Josefin Slab", sans-serif;
$s-text: 18px;
$md-text: 24px;
$l-text: 36px;